body {
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  font-size: 100%;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  -webkit-user-select: none;
  background-size: 100%;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-highlight: none;
}

#content {
  width: 100%;
  overflow: hidden;
}


.step {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#bottle {
  display: block;
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .3s;

  &.visible {
    opacity: 1;
  }
}

#step2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translate(0%, -130%);
  transition: all 1.5s linear;
  overflow: visible;
  z-index: 10000;

  &.dropped {
    transform: translate(0%, 0%);

    #drop {
      transform: translate(-75%, 0);
    }
  }
}

#drop {
  position: absolute;
  width: 400vw;
  top: 0;
  left: 0;
  background: $brand;
  height: 100vh;
  transition: all 4s linear;

  #dropBorder {

    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translate(0, calc(100% - 5px));
    left: 0;
    display: inline-block;
  }
}

#step2--content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  opacity: 0;
  transition: all .5s linear;

  &.visible {
    opacity: 1;
  }
}

#content {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#preventer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9000;
}

#cta {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .5s linear;
  width: 60vw;

  &.hide {
    opacity: 0;
  }
}

@keyframes wiz {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  1% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  30% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  40% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: 1;
    transform: translate(-45%, -50%) scale(1) rotate(-15deg);

  }

  60% {
    opacity: 1;
    transform: translate(-55%, -50%) scale(1) rotate(15deg);
  }

  70% {
    opacity: 1;
    transform: translate(-45%, -50%) scale(1) rotate(-15deg);
  }

  80% {
    opacity: 1;
    transform: translate(-55%, -50%) scale(1) rotate(15deg);
  }

  85% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#wizzzzWrap {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.3s ease-out;

  &.visible {
    opacity: 1;
  }

  &.scaled {
    transform: translate(-50%, -50%) scale(1);

  }
}

#wizzzz {

  width: 100%;
  opacity: 1;

  &.wized {
    /*animation-name: wiz;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.01s;*/

    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  }
}

#step1.wiggle {

  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

}

