body {
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  font-size: 100%;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  background-size: 100%;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-highlight: none;
  background-color: $backgroundColor;
}

#content {
  width: 100%;
  overflow: hidden;
}

#cta {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .5s linear;
  width: 60vw;

  &.hide {
    opacity: 0;
  }
}
