@import "anmiate";
@import "variables";
@import "mixxins";
@import "animations";
@import "general";

canvas {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#iceBG {
  display: block;
}

#container {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


#crack {
  position: absolute;
  background-size: cover;
  background-position: center;
  transform: translate(-71%,-61%);
  z-index: 2000;
  pointer-events: none;
  opacity: 0.35;
  transition: opacity 0.8s linear;
}

#crack.done {
  opacity: 0;
}

@import "crack";


.rororo {
  transition: all 1.2s linear !important;

  &.yoyo {
    opacity: 0;
  }
}


#packaging {
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  position: relative;

  img {
    display: block;
    width: 100%;

    &:not(#baygay) {
      position: absolute;
      top: 0;
      left: 0;
    }

    &#cold_dring {
      visibility: hidden;
&.animate__animated {
  visibility: visible;
}
    }
  }


}


#cta {
  position: absolute;
  width: 25vw;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  transform-origin: center;

  img {
    display: block;
    transform-origin: bottom left;
    animation: break 2s ease infinite;
    width: 100%;
  }


  pointer-events: none;
  transition: opacity 0.3s linear;
  &.hidden {
    opacity: 0;
  }
}

